body {
  background: #ccc;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-items:center; 
} 
.list-wrapper { 
  margin-top:100px; 
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center
}
.list-header {
  text-align: center;
  margin-bottom: 10px
}
.images-list { 
  display:flex;
  flex-direction:column; 
  overflow: auto; 
  align-items: center;
  justify-content: center;  
  max-height:800px;
}

.images-list-box {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
.canvas-image {
  width: 200px;
  background: #fff;
  margin-top:20px;
  box-shadow: 1px 1px 5px 5px #8f8d8d;
  cursor: pointer;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.canvas-image svg {
  width: 100%;
  height:100%
}
.canvas-wrapper {
  flex: 2;
  display: flex; 
  margin-top: 50px;
  justify-content: center
}
.canvas-container{
  background-color: #fff;
  box-shadow: 1px 1px 5px 5px #8f8d8d;
}
.controls-container {
  display: flex;
  flex-direction: column; 
  background-color: #2c2b2b;
  margin-left: 20px;
  box-shadow: 1px 1px 5px 5px #8f8d8d; 
  padding:30px;
  justify-content: center
}
.drawing-ui { 
  width: 300px;
  display: flex;
  flex-direction:column;
  align-items: center
}
.drawing-options { 
  display: flex;
  align-items: center;
  width: 100%
} 
.control-label { 
  margin-top: 9px;
  color: white;
  font-size: 12px;
}
.drawing-options.linewidth-controls {
  flex-direction: column;
  justify-content: center;
  align-items: start; 
  margin-top:20px
}
.drawing-options.linewidth-controls div {
  display:flex;
  align-items: center;
  width:100%;
  margin-top:10px
}
.drawing-options.linewidth-controls input {
  flex-basis: 98%
} 
.drawing-options.color-controls .control-label{
  margin-right: 30px
}
.info {  
  display: inline-block;
  width: 25px;
  color: #fff;
  text-align:center;
}
.button {  
  width: 115px;
  height: 40px!important;
  line-height: 30px!important;
  text-align: center;
  font-size: 12px!important;
  color: white;
  cursor: pointer; 
  border:0!important;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 0!important;
} 
.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:20px
}
.eraser {
  background: #989191;
}
#drawing-color:hover {
  cursor: pointer;
}
#drawing-line-width:hover{
  cursor:grab;
}
.canvas-reset {
  background: #d00d0d;
}
.canvas-reset:active {
  background: #120101
}
.canvas-store {
  background: #22bd42!important;
  vertical-align: top!important
}
.disabled {
  margin:0!important;
  opacity: 0.9;
  color: #cccccc!important;
  cursor: default;
}
.canvas-store:active{
  background: #07280d;
}

.canvas-load {
  background: #2e83f0
}
.canvas-load:active {
  background: #040a12;
}
.vouchers-to-execute-table, .vouchers-to-execute-table td, .vouchers-to-execute-table th {
  border: 1px solid #000;
  border-collapse: collapse
}
 .vouchers-to-execute-table td, .vouchers-to-execute-table th {
 padding: 8px
}

nav ul {
  display: flex;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 2px #ccc;
}
nav ul li {
  padding: 18px 24px;
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 6px;
  text-decoration: underline
}

button {
  padding: 6px!important;
  text-decoration: underline
}
.page-content {
  margin-top: 20px;
  padding: 10px 30px
}