
node_modules/  
drawing/dist/main.js 
drawing/config.js 
drawing/dist/*
.env
drawing/yarn-error.log
drawing-api/public/
TODO.md
 
drawing-py/dapp/.venv
drawing-py/deployments/
drawing-py/.sunodo
drawing-py/dapp/protobuf_models/__pycache__/