requests == 2.23.0
eth_abi == 3.0.0
cytoolz == 0.11.2
Cython == 0.29.32
base58 == 2.1.1
numpy == 1.23.4 --no-binary numpy
shapely == 1.5.9 --no-binary shapely
pycryptodomex==3.15.0 --no-binary pycryptodomex
protobuf == 4.21.12
